// Fonts
// @import url("https://fonts.googleapis.com/css?family=Nunito");
@import "~nunito-fontface/css/nunito/sass/nunito-fontface-regular.scss";

// Variables
@import "variables";

// Bootstrap
// @import "~bootswatch/dist/materia/variables";
@import "~bootstrap/scss/bootstrap";
// @import "~bootswatch/dist/materia/bootswatch";

@import "~@fortawesome/fontawesome-free/css/solid.min.css";
@import "~@fortawesome/fontawesome-free/css/fontawesome.min.css";

@import "~@icon/stroke-7/stroke-7.css";

// Datatables
@import "~datatables.net-bs4/css/dataTables.bootstrap4.min.css";
@import "../js/jquery-datatable/jquery.dataTables.css";
@import "../js/jquery-datatable/extensions/dataTables.searchHighlight.css";

@import "~flatpickr/dist/flatpickr.min.css";

@import "~bootstrap4c-custom-switch/dist/css/component-custom-switch.min.css";

.breadcrumb {
    background: $body-bg;
    border: 0px solid rgba(245, 245, 245, 1);
    border-radius: 0px;
}
.breadcrumb li {
    font-size: 12px;
}
.breadcrumb a {
    color: rgba(66, 139, 202, 1);
}
.breadcrumb a:hover {
    color: rgba(42, 100, 150, 1);
}
.breadcrumb > .active {
    color: rgba(153, 153, 153, 1);
}
.breadcrumb > li + li:before {
    color: rgba(204, 204, 204, 1);
    // content: "\002F\00a0";
}

.navbar-laravel {
    // background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
